.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login input {
  background-color: #171d37;
  border: none;
  box-shadow: inset 0 0 8px 0 #0e1329;
  color: #464f72;
  font-size: 14px;
  margin: 0;
  width: 100%;
  padding: 20px 15px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.login input:hover {
  color: #4c577f;
}

.login input:focus {
  color: #b1b2c9;
}

.login button,
.login .link {
  background-color: #de3f53;
  border: none;
  box-shadow: inset 0 0 8px 0 #b4293c;
  color: #e08c97;
  font-size: 14px;
  margin: 20px;
  padding: 20px 35px;
  border-radius: 4px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}

.login button:hover,
.login .link:hover {
  color: #fff;
}

.login ::-webkit-input-placeholder {
  color: #464f72;
} /* WebKit browsers */
.login :-moz-placeholder {
  color: #464f72;
} /* Mozilla Firefox 4 to 18 */
.login ::-moz-placeholder {
  color: #464f72;
} /* Mozilla Firefox 19+ */
.login :-ms-input-placeholder {
  color: #464f72;
} /* Internet Explorer 10+ */
