.addTodo {
  display: flex;
  width: 100%;
}

.addTodo input[type='text'] {
  background-color: #171d37;
  border: none;
  box-shadow: inset 0 0 8px 0 #0e1329;
  color: #464f72;
  font-size: 14px;
  margin: 0;
  width: 100%;
  padding: 20px 15px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.addTodo input[type='text']:hover {
  color: #4c577f;
}

.addTodo input[type='text']:focus {
  color: #b1b2c9;
}

.addTodo input[type='submit'] {
  background-color: #171d37;
  border: none;
  box-shadow: inset 0 0 8px 0 #0e1329;
  color: #464f72;
  font-size: 14px;
  margin: 0;
  padding: 20px 35px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.addTodo input[type='submit']:hover {
  color: #5e6a99;
}

.addTodo ::-webkit-input-placeholder {
  color: #464f72;
} /* WebKit browsers */
.addTodo :-moz-placeholder {
  color: #464f72;
} /* Mozilla Firefox 4 to 18 */
.addTodo ::-moz-placeholder {
  color: #464f72;
} /* Mozilla Firefox 19+ */
.addTodo :-ms-input-placeholder {
  color: #464f72;
} /* Internet Explorer 10+ */
