.todo-item {
  cursor: pointer;
  display: block;
  line-height: 56px;
  padding: 0 15px;
  position: relative;

  &__wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #262e4c;
    border-bottom: 1px solid #1c2340;
    color: #b1b2c9;
  }

  &:hover {
    background-color: #2a3353;
    color: #8284a3;
  }

  &:hover &__remove-btn {
    display: block;
  }

  &:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &__title {
    margin-left: 30px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  &__remove-btn {
    border: none;
    padding: 0;
    background-color: #de3f53;
    border-radius: 50%;
    color: #fff;
    display: none;
    float: right;
    font-weight: bold;
    line-height: normal;
    height: 16px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    position: relative;
    width: 16px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;

    &-text {
      position: absolute;
      top: -2px;
      left: 5px;
    }

    &:hover {
      background-color: #fff;
      color: #de3f53;
    }
  }

  &__remove-btn:hover {
    background-color: #fff;
    color: #de3f53;
  }

  &__checkbox {
    cursor: pointer;
    opacity: 0;
    position: absolute;

    & + i {
      background-color: #404a6e;
      border-radius: 50%;
      display: block;
      height: 16px;
      position: absolute;
      top: 20px;
      width: 16px;
      z-index: 1;
    }

    &:checked {
      & + i:after {
        background-color: #6e6e96;
        border-radius: 50%;
        content: '';
        display: block;
        height: 8px;
        left: 4px;
        position: absolute;
        top: 4px;
        width: 8px;
        z-index: 2;
      }

      & ~ .todo-item__title {
        color: #586186;
        text-decoration: line-through;
      }
    }
  }
}
